<div class="container marketing">
  <div class="row">
    <div class="col-2 text-center">
      <a (click)="allRecipes()">
        <img id="all" class="bd-placeholder-img rounded-circle categoryImgSelected"
             src='../../../assets/img/allRecipe.jpg'>
        <h5>All Recipes</h5>
      </a>
    </div>
    <div class="col-2 text-center" *ngFor="let category of categories">
      <a (click)="filterCategory(category)">
        <img id="{{category.categoryId}}" class="bd-placeholder-img rounded-circle categoryImg"
             src={{category.imagePath}}>
        <h5>{{category.name}}</h5>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="search-hero col-10">
      <input class="form-control" type="text" name="search" [(ngModel)]="filterText" autocomplete="off"
             placeholder="Search recipe">
    </div>
    <div class="create-button col-2">
      <button type="button" class="btn btn-outline-danger" routerLink="edit">
        <img style="width: 60px; height: 60px" src="./assets/icon/book.png"/>
        <h3>Create Recipe</h3>
      </button>
    </div>
  </div>
</div>

<div class="recipe-header">
  <h1 class="section-title">R<span>ecipes</span></h1>
</div>
<div class="all-recipes">
  <div *ngFor="let recipe of recipes | searchRecipe: filterText ,let i = index">
    <div class="recipe-item">
      <div class="recipe-info">
        <div type="button" style="width: 40px; height: 40px; align-self: end; text-align: center"
             [routerLink]="recipe.recipeId+'/edit'">
          <img src="./assets/icon/pencil.gif"/>
          <h5>Edit Recipe</h5>
        </div>
        <h1> {{recipe.name}}</h1>
        <h2>Ingredients</h2>

          <div class="row" style="    margin: 20px;">
            <ul *ngFor="let ingredient of recipe.ingredients" style="display: inherit; ">
            <div class="col-8">
              <li style="padding-left: 10px; size: 18px">{{ingredient.measurement}}  {{ingredient.name}}</li>
            </div>
            <div class="col-4">
              <button
                id="ing-{{ingredient.ingredientId}}"
                type="button"
                class="btn btn-outline-warning"
                (click)="addToShoppingList(ingredient)">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                  <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"></path>
                  <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"></path>
                </svg>
                {{addToListButton}}
              </button>
            </div>
            </ul>
          </div>

        <h2>Directions</h2>
        <p>{{recipe.description}}</p>
      </div>
      <div class="recipe-img">
        <img [src]="recipe.imagePath ? recipe.imagePath : './assets/img/default.jpg'" alt="img">
      </div>
    </div>
  </div>
  <div>
    <h4 *ngIf="notFound">{{notFound}}</h4>
  </div>
</div>


